table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th {
    background-color: skyblue; 
    color: white;
    border: 1px solid black;
    text-align: left; 
    padding: 12px; 
}

td {
    padding: 10px;
    text-align: left;
    border: 1px solid black;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}